* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex {
  display: flex;
}
.a-c {
  align-items: center;
}
.j-start {
  justify-content: flex-start;
}
.j-end {
  margin-left: auto;
}
.mar_lef {
  margin-left: 24px;
}
.mar_rig {
  margin-right: 24px;
}
.font-weight {
  font-weight: bold;
}
.btn {
  padding: 8px 21px;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
a {
  color: #636778;
  text-decoration: none;
}
.router-link-exact-active {
  color: #409EFF;
}
/*弹力盒*/
#areaTree {
  box-sizing: border-box;
  padding: 19px 16px;
}
/*nav*/
nav {
  height: 100%;
  /*section*/
}
nav .section {
  min-width: 240px;
  min-height: calc(100vh - 188px);
  border-right: 1px #ccc solid;
  padding-top: 40px;
}
nav .sec_tex {
  font-family: PingFangSC-Semibold;
  font-size: 18px;
  color: #424656;
  font-weight: bold;
  margin-bottom: 16px;
}
nav .section ul {
  margin-bottom: 32px;
}
nav .section ul li {
  margin-left: 40px;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #636778;
  margin-bottom: 16px;
  cursor: pointer;
}
nav .nav {
  margin: 40px;
  width: 100%;
}
nav .nav .nav_titl {
  font-family: PingFangSC-Semibold;
  font-size: 24px;
  color: #424656;
  border-bottom: 1px solid #ccc;
  padding-bottom: 24px;
  margin-bottom: 24px;
}
nav .nav input {
  text-indent: 6px;
  width: 200px;
  height: 32px;
  border: 1px #ccc solid;
  outline: none;
}
nav .nav .inp_btn {
  padding: 6px 24px;
  background: #2277da;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}
nav .nav .inp_btn span {
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
  background: url("../../img/加号.png") no-repeat;
  background-size: 100%;
  width: 14px;
  height: 14px;
}
nav .nav .tal {
  width: 100%;
  margin-top: 24px;
  text-align: left;
  border-collapse: collapse;
}
nav .nav .tal thead {
  background: #f4f9ff 100%;
  font-family: PingFangSC-Semibold;
  font-size: 16px;
  color: #424656;
}
nav .nav .tal td,
nav .nav .tal th {
  padding: 12px 24px;
}
